<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.launching.mavenLaunchParticipants">
      <mavenLaunchParticipant
            class="com.ifedorenko.m2e.sourcelookup.internal.SourceLookupMavenLaunchParticipant"
            id="com.ifedorenko.m2e.sourcelookup"
            name="Dynamic Sources Lookup"
            modes="debug">
      </mavenLaunchParticipant>
   </extension>

</plugin>
