<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="com.ifedorenko.m2e.sourcelookup.pde.internal.EclipseApplicationLauncher"
            delegateDescription="Eclipse Application launcher with more reliable source code lookup"
            id="com.ifedorenko.m2e.sourcelookup.pde.EclipseApplication"
            modes="debug"
            name="Advanced Eclipse Application"
            type="org.eclipse.pde.ui.RuntimeWorkbench">
      </launchDelegate>
      <launchDelegate
            delegate="com.ifedorenko.m2e.sourcelookup.pde.internal.JUnitPluginTestLauncher"
            delegateDescription="JUnit Plugin Test launcher with more reliable source code lookup"
            id="com.ifedorenko.m2e.sourcelookup.pde.JUnitPluginTest"
            modes="debug"
            name="Advanced JUnit Plugin Test"
            type="org.eclipse.pde.ui.JunitLaunchConfig">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="com.ifedorenko.m2e.sourcelookup.pde.internal.PDESourceLookupDirector"
            id="com.ifedorenko.pde.sourcelookupDirector"
            name="PDE Advanced Source Locator">
      </sourceLocator>
   </extension>
   <extension
         point="com.ifedorenko.m2e.sourcelookup.projectSourceDescribers">
      <describer
            class="com.ifedorenko.m2e.sourcelookup.pde.internal.PDEProjectDescriber">
      </describer>
       <describer
             class="com.ifedorenko.m2e.sourcelookup.tycho.internal.TychoWrapperProjectDescriber">
       </describer>
   </extension>
</plugin>
