<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.ifedorenko.m2e.sourcelookup.launch.internal.ExternalJVMConnectionLaunchDelegate"
            id="com.ifedorenko.m2e.sourcelookup.launch.launchConfigurationType"
            modes="debug"
            name="Remote Java Application (dynamic sources)"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.ifedorenko.m2e.sourcelookup.launch.internal.ExternalJVMConnectionLaunchConfigurationTabGroup"
            id="com.ifedorenko.m2e.sourcelookup.launch.launchConfigurationTabGroup"
            type="com.ifedorenko.m2e.sourcelookup.launch.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
