<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=emptyEditGroup">
         <command
               commandId="com.ifedorenko.m2e.sourcelookup.ui.openPom"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.ifedorenko.m2e.sourcelookup.ui.importBinaryProject"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.ifedorenko.m2e.sourcelookup.ui.openPom"
            name="Open Pom">
      </command>
      <command
            id="com.ifedorenko.m2e.sourcelookup.ui.importBinaryProject"
            name="Import Binary Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ifedorenko.m2e.sourcelookup.ui.internal.OpenPomCommandHandler"
            commandId="com.ifedorenko.m2e.sourcelookup.ui.openPom">
         <enabledWhen>
            <reference
                  definitionId="com.ifedorenko.m2e.sourcelookup.ui.m2estratum">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.ifedorenko.m2e.sourcelookup.ui.internal.ImportBinaryProjectHandler"
            commandId="com.ifedorenko.m2e.sourcelookup.ui.importBinaryProject">
         <enabledWhen>
            <reference
                  definitionId="com.ifedorenko.m2e.sourcelookup.ui.m2estratum">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.ifedorenko.m2e.sourcelookup.ui.m2estratum">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <test
                     property="com.ifedorenko.m2e.sourcelookup.m2estratum">
               </test>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.ifedorenko.m2e.sourcelookup.ui.bug396796workaround"
            objectClass="com.ifedorenko.m2e.sourcelookup.internal.JDILocation">
         <action
               class="com.ifedorenko.m2e.sourcelookup.ui.internal.bug396796.ImportBinaryProjectAction"
               icon="icons/binary_project.gif"
               id="com.ifedorenko.m2e.sourcelookup.ui.actionImportBinaryProject"
               label="Import Binary Project (396796)"
               menubarPath="emptyEditGroup"
               style="push">
         </action>
         <action
               class="com.ifedorenko.m2e.sourcelookup.ui.internal.bug396796.OpenSourceLookupInfoDialogAction"
               id="com.ifedorenko.m2e.sourcelookup.ui.actionOpenSourceLookupInfoDialog"
               label="Dynamic Sourcelookup"
               menubarPath="emptyEditGroup"
               style="push">
         </action>
      </objectContribution>
   </extension>

</plugin>
